*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body{
     background-color: #f2f2f2;
}

header{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 20px;
    background-color: white;
}
.logo{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
    background-color: white;
     cursor: pointer;

}
nav{
    display: flex;
    gap: 20px;

}
nav a{
    background-color: white;
    text-decoration: none;
 
}
.hero{
    min-height: 70vh;
    padding: 60px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.hero h1{
    font-size: 48px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    
}

.hero p{
    font-weight: 500;
    font-size: 24px;
    padding: 10px;
}
.hero button{
    border: none;
    font-size: 16px;
    background-color: #243533;
    padding: 12px 8px;
    border-radius: 10px ;
    
    color: white;
    transition: 0.3s;
    cursor: pointer;
   
}
.hero button:hover{
    transform: translateY(-3px);
}

.features {
    padding: 80px 20px;
    text-align: center;
}
.feature-cards{
    display: grid;
    gap: 20px;
    max-width: 1000px;
    margin: 40px auto 0;
    grid-template-columns: repeat(3,1fr);
}
.card{
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 5px  15px rgba(0, 0, 0, 0.08);
    transition: 0.4s;
     cursor: pointer;

}

.card:hover{
    transform: translateY(-5px);
}

.pricing{
    padding: 80px 20px;
    text-align: center;
}
.pricing-cards{
    display: grid;
    
    gap: 30px;
    max-width: 1000px;
    margin: 40px auto 0;
    grid-template-columns: repeat(3,1fr);
}

.price{
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
     transition: 0.3s;
    cursor: pointer;
}
.price:hover{
    transform: translateY(-5px);
}


.btn{
    padding: 20px 15px;
    text-align: center;
}
.btn button{
    padding: 15px;
    border: none;
    background-color: #243533;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}


footer{
    text-align: center;
    padding: 40px 20px;
    background-color: #243533;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
